{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block head %}{% endblock %}
</head>
<body>
    <header>
        <h1>日記アプリ</h1>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
{% block footer %}{% endblock %}
    <footer>
        <p>© 2025 My Diary</p>
    </footer>

</html>